body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    /* Visual */
    background-image: url("../images/crystal_background.png");
    background-color: transparent;
    background-blend-mode: screen;
    background-repeat: repeat;
    background-size: auto;
}

.container {
    padding: 1px;    
}

.col-md-1,
.col-md-2,
.col-md-4,
.col-md-6 {
    background-color: transparent;
    margin: 0px;
    margin-bottom: 0px;
}

/* First Row - Header */

.header {
    background-color: rgb(255, 153, 0);
    color: white;
    text-align: center;
}

/* Second Row - Rules */

#rules {
    background-color: lightyellow;
    color: rgb(3, 177, 3);
    text-align: justify;
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    margin-bottom: 0px;
}

/* Third Row - First Column: Random Number */

#random-box {
    background-color: darkcyan;
    color: black;
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 25px;
    margin: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Third Row - Second Column: W/L Counters */

#wins-loses-box {
    background-color: lightskyblue;
    color: darkslategrey;
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 25px;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

/* Fourth Row - Crystals Buttons */

.col-md-1 {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.crystals {
    background-color: lightsteelblue;
    /* border: 1px solid darkblue;  */
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Fifth Row - Score header */

#total-score-header,
#total-score-box {
    background-color: rgb(72, 168, 96);
    color: white;
    margin-bottom: 0px;
}

#total-score-header {
    text-align: left;
    padding: 10px;
}

/* Sixth Row - Total Score */

#total-score-box {
    text-align: justify;
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin: 0px;
    margin-right: 0px;
}
